/* 基础设置 */
.container {
  /* 版心不加高度 */
  width: 1190px;
  margin: 0 auto;
  /* background-color: orange; */
}

/* #region顶部导航条 */
.topbar {
  /* 导航条不加宽度 */
  height: 30px;
  background-color: #ececec;
}

.welcome {
  line-height: 30px;
  font-size: 0px;
}

.welcome span,
a {
  font-size: 12px;
}

.welcome .hello {
  margin-right: 28px;
}

.login {
  padding-right: 10px;
  border-right: 1px solid #666;
}

.register {
  margin-left: 10px;
}

.topbar ul li {
  float: left;
  line-height: 30px;
}

.topbar ul li a {
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid #666;
}

.topbar ul li:first-child > a {
  padding-left: 0;
}

.topbar ul li:last-child > a {
  padding-right: 0;
  border: 0;
}

/* #endregion顶部导航条 */

/* #region  header */
.header {
  height: 120pxs;
}

.header form {
  margin-top: 42px;
  font-size: 0px;
}

.header .searchbox {
  border: 1px solid red;
  height: 34px;
  width: 508px;
}

.header .search button {
  height: 36px;
  width: 80px;
  background-color: red;
  vertical-align: top;
  background-image: url(../images/serch_icon.png);
  background-repeat: no-repeat;
  background-position-x: 28px;
  background-position-y: 6px;
}

/* #endregion header */

/* #region */

.navigation-main {
  height: 48px;
  border-bottom: 1px solid #dd302d;
}

.navigation-main .all-types {
  width: 190px;
  line-height: 48px;
  background-color: #dd302d;
  text-align: center;
  font-size: 16px;
  color: #ececec;
}

.navigation-main ul li {
  float: left;
  margin-top: 12px;
}

.navigation-main ul li a {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

/* #endregion */

/* #region 内容区*/
.main-content {
  margin-top: 10px;
}

.main-content .slide-nav {
  width: 190px;
  height: 458px;
  background-color: #f4f4f4;
}

.main-content .slide-nav ul {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.main-content .slide-nav ul li {
  font-size: 14px;
  height: 28px;
  line-height: 28px;
}

.main-content .slide-nav ul li:hover {
  background-color: red;
}

.main-content .slide-nav ul li:hover .sec-menu {
  display: block;
}

.sec-menu {
  width: 680px;
  height: 458px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 190px;
  font-size: 14px;
  padding-left: 20px;
  display: none;
}

.sec-menu dt {
  float: left;
  width: 70px;
  height: 36px;
  font-weight: bold;
  margin-right: 10px;
}

.sec-menu dd {
  float: left;
}

.sec-menu dd a {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #666;
}

.main-content .banner {
  width: 690px;
  height: 458px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: orange;
}

.main-content .slide-other {
  width: 290px;
  height: 458px;
}

.slide-other .message {
  width: 260px;
  height: 156px;
  border: 1px solid black;
  padding: 0 14px;
}

.slide-other .message .title {
  height: 39px;
  line-height: 39px;

  border-bottom: 1px solid black;
}

.slide-other .message .title span {
  font-weight: bold;
  font-size: 14px;
}

.slide-other .message .title a {
  font-size: 12px;
}

.slide-other .message-list ul li {
  height: 26px;
  line-height: 26px;
}

.slide-other .other-nav {
  margin-top: 10px;
  width: 290px;
  height: 290px;
  overflow: hidden;
}

.other-nav-list li {
  width: 48px;
  height: 70px;
  float: left;
  margin: 0 11px;
  text-align: center;
}

.other-nav-list li:first-child {
  margin-left: 16px;
}

.other-nav-list:first-child {
  margin-top: 16px;
}

.other-nav-list:nth-child(2) {
  margin: 17px 0;
}

.other-nav-list li .pic {
  width: 48px;
  height: 48px;
  vertical-align: top;
  background-image: url(../images/精灵图-侧边功能.png);
}

.other-nav-list:first:first .pic {
  background-position: -48px -48px;
}

/* #endregion 内容区*/

/* #region秒杀 */
.seckill {
  margin-top: 10px;
}

.seckill img {
  float: left;
  margin-right: 11px;
  cursor: pointer;
}

.seckill .container img:last-child {
  margin: 0;
}

/* #endregion */

/* #region 楼层*/
.floor {
  margin-top: 48px;
}

.floor-nav {
  height: 30px;
  border-bottom: 2px solid #dd302d;
}

.floor-nav span {
  line-height: 30px;
  font-weight: bold;
  font-size: 20px;
}

.floor .floor-nav ul li {
  float: right;
  font-size: 16px;
  line-height: 30px;
}

.floor .floor-nav ul li a {
  padding: 0 10px;
  border-right: 1px solid #666;
}

.floor .floor-nav ul li:last-child a {
  padding-left: 0;
}

.floor .floor-nav ul li:first-child a {
  padding-right: 0;
  border: 0;
}

.floor-info-item {
  float: left;
}

.irem1 {
  width: 190px;
  height: 392px;
  padding: 20px;
  background-color: #f4f4f4;
}

.irem1-list {
  margin-bottom: 30px;
}

.irem1 .irem1-list li {
  width: 90px;
  height: 22px;
  padding-bottom: 3.5px;
  border-bottom: 1px solid #666;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
}

.irem1 .irem1-list li:nth-child(2n-1) {
  float: left;
}

.irem1 .irem1-list li:nth-child(3),
.irem1 .irem1-list li:nth-child(4) {
  margin: 14.4px 0;
}

.irem1 .irem1-list li:nth-child(2n) {
  float: right;
}

.irem2 {
  width: 340px;
  height: 432px;
  background-color: #dd302d;
}

.irem3 {
  width: 206px;
  height: 432px;
  border-right: 1px solid #e2e2e2;
}

.irem4 {
  width: 206px;
  height: 432px;
  border-right: 1px solid #e2e2e2;
}

.irem5 {
  width: 206spx;
  height: 432px;
}

.irem3,
.irem4,
.irem5 img {
  border-bottom: 1px solid #f4f4f4;
}

/* #endregion 楼层*/

/* #region 页脚 */
.footer {
  margin-top: 48px;
  height: 440px;
  background-color: #483e3e;
}

.top-links {
  height: 190px;
  padding-top: 48px;
}

.top-links ul {
  float: left;
  height: 128px;
  width: 190px;
}

.top-links ul li a {
  color: white;
  font-size: 14px;
}

.top-links ul {
  margin-right: 10px;
}

.top-links ul:last-child {
  margin: 0;
}

.line {
  height: 1px;
  background-color: #583e3e;
  margin-bottom: 48px;
}

.bottom-links {
  text-align: center;
  margin-top: 22px;
}

.bottom-links ul li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid white;
}

.bottom-links ul li:first-child {
  border: 0;
}

.bottom-links ul li:last-child {
  padding-right: 0;
}

.bottom-links ul {
  display: inline-block;
}

.ending {
  text-align: center;
}

.endl {
  display: inline-block;
  color: white;
}

/* #endregio 页脚 */
